{% extends 'default.html' %}

{% load custom_filters %}
{% load custom_tags %}

{% block title %}
News
{% endblock title %}

{% block h1 %}
News
{% endblock h1 %}

{% block content %}
    <hr>
    <form action="" method="get" class="">
        {% for input in filterset.form %}
        <div class="mb-3">
            <label for="{{ input.auto_id }}" class="form-label">{{ input.label }}</label>
            {{ input }}
        </div>
        {% endfor %}
        <input type="submit" value="Search" class="btn btn-primary" />
    </form>
    <hr />
    <br />
    <hr />
    {% if news %}
        {% for news_article in news %}
        <div class="article">
            <a href="/news/{{news_article.id}}/"><h3 class="article__title">{{ news_article.title|censor }} (rating {{news_article.rating|censor }})</h3></a>
            <table class="article__table">
                <tr>
                    <td class="article__left-cell">{{ news_article.creation_date|date:'d.m.Y' }}</td>
                    <td class="article__right-cell">{{ news_article.author|censor }}</td>
                </tr>
            </table>
            <p class="article__text">{{ news_article.text|truncatewords:10|censor|truncatechars:20 }}</p>
            <hr />
        </div>
        {% endfor %}
    {% elif queryset_is_empty and parameters_are_set %}
        <h2>No news was found with these parameters!</h2>  
    {% else %}
        <h2>Fill in the parameters and click on the Search button</h2>
    {% endif %}
{% endblock content %}