{% extends 'default.html' %}

{% load custom_filters %}
{% load custom_tags %}

{% block title %}
{{ post.title|censor }}
{% endblock title %}

{% block h1 %}
{{ post.title|censor }}
{% endblock h1 %}

{% block content %}
   <hr>
    <div class="article">
        <table class="article__table">
            <tr>
                <td class="article__left-cell">{{ post.creation_date|date:'d.m.Y' }}</td>
                <td class="article__right-cell">{{ post.author|censor }}</td>
            </tr>
        </table>
        <p class="article__text">{{ post.text|censor }}</p>
        <hr />
    </div>
{% endblock content %}