{% extends 'default.html' %}

{% load custom_filters %}
{% load custom_tags %}

{% block title %}
{{ post.title|censor }}
{% endblock title %}

{% block h1 %}
{{ post.title|censor }}
{% endblock h1 %}

{% block content %}
   <hr>
    <div class="article">
        <table class="article__table">
            {% if perms.news.change_post or perms.news.delete_post %}
                <tr>
                    <td class="article__left-cell">
                        {% if perms.news.change_post %}
                            <a href="{% url 'post_update' post.id %}" class="btn btn-primary">Change</a>
                        {% endif %}
                    </td>
                    <td class="article__right-cell">
                        {% if perms.news.delete_post %}
                            <a href="{% url 'post_delete' post.id %}" class="btn btn-primary">Delete</a>
                        {% endif %}
                    </td>
                </tr>
            {% endif %}
            <tr>
                <td class="article__left-cell">{{ post.creation_date|date:'d.m.Y' }}</td>
                <td class="article__right-cell">{{ post.author|censor }}</td>
            </tr>
        </table>
        <p class="article__text">{{ post.text|censor }}</p>
        <hr />
    </div>
{% endblock content %}